Repository COS301-SE-2022/Japanese-Writing-Evaluator, pull requests merged in 2022-09, with the labels that each got.

#206 ✨ (backend-feature-object-detection) introduce object detection
  backend/api/app.py
  backend/api/event_bus.py
  backend/object_detection/detect.py
Labels: enhancement, scope:backend, layer:api, layer:event bus, scope:object-detection, layer:object-detection

#185 🎨 (backend-feature-progress) date order change and writing style casing
  backend/api/image.py
  backend/database/database.py
Labels: enhancement, scope:backend, scope:database, layer:service

#212 ⚡️(Backend-feature-admin) - Admin model data
  backend/ai/models_data.json
  backend/api/__pycache__/admin.cpython-310.pyc
  backend/api/__pycache__/app.cpython-310.pyc
  backend/api/__pycache__/authentication.cpython-310.pyc
  backend/api/__pycache__/evaluator.cpython-310.pyc
  backend/api/__pycache__/event_bus.cpython-310.pyc
  backend/api/__pycache__/image.cpython-310.pyc
  backend/api/__pycache__/imageDB.cpython-310.pyc
  backend/api/admin.py
  backend/api/app.py
  backend/api/authentication.py
  backend/api/evaluator.py
  backend/api/event_bus.py
  backend/api/image.py
  backend/database/__pycache__/database.cpython-310.pyc
  backend/email_user/__pycache__/send_email.cpython-310.pyc
  backend/object_detection/__pycache__/detect.cpython-310.pyc
Labels: layer:api, scope:AI, fix

#213 🐛 (backend-architecture-fixes) move files
  backend/api/app.py
  backend/api/feedback.py
  backend/api/requirements.txt
  backend/email_user/__pycache__/send_email.cpython-310.pyc
  backend/email_user/__pycache__/send_email.cpython-39.pyc
  backend/eventBus/event_bus.py
  backend/object_detection/__pycache__/detect.cpython-310.pyc
  backend/requirements.txt
  backend/services/authentication.py
  backend/services/detect.py
  backend/services/evaluator.py
  backend/services/image.py
  backend/services/imageDB.py
  backend/services/send_email.py
Labels: scope:backend, layer:service

#214 💄 (Frontend admin) created AI dashboard
  backend/requirements.txt
  package.json
  src/app/Interceptor/loader.interceptor.ts
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/home/home.module.ts
  src/app/home/home.page.html
  src/app/models/models-routing.module.ts
  src/app/models/models.module.ts
  src/app/models/models.page.html
  src/app/models/models.page.scss
  src/app/models/models.page.spec.ts
  src/app/models/models.page.ts
  src/app/progress/progress.module.ts
  src/app/progress/progress.page.html
  src/app/services/appService/app-service.service.ts
  src/app/shared/components/navbar/navbar.component.html
  src/app/shared/components/navbar/navbar.component.scss
  src/app/shared/components/navbar/navbar.component.spec.ts
  src/app/shared/components/navbar/navbar.component.ts
  src/app/shared/components/navbar/navbar.module.ts
  src/app/shared/components/piechart/piechart.component.html
  src/app/shared/components/piechart/piechart.component.scss
  src/app/shared/components/piechart/piechart.component.spec.ts
  src/app/shared/components/piechart/piechart.component.ts
  src/app/shared/components/piechart/piechart.module.ts
  src/app/shared/interfaces/models.ts
  src/app/upload/upload.module.ts
  src/app/upload/upload.page.html
  src/index.html
  yarn.lock
Labels: scope:frontend, scope:AI, scope:ui

#215 ✨ (backend-feature-admin) introduce getAnalytics endpoint
  backend/api/app.py
  backend/eventBus/event_bus.py
  backend/services/imageDB.py
Labels: enhancement, scope:backend, layer:api, layer:service, layer:event bus

#221 ✨ Frontend--AdminProfile
  src/app/app-routing.module.ts
  src/app/progress/graph-modal/graph-modal.page.ts
  src/app/progress/progress-block/progress-block.component.ts
  src/app/progress/progress-result/progress-result.page.html
  src/app/progress/progress-result/progress-result.page.spec.ts
  src/app/progress/progress-result/progress-result.page.ts
  src/app/progress/progress.page.ts
  src/app/services/appService/app-service.service.ts
  src/app/shared/interfaces/progress.ts
Labels: scope:frontend, fix

#222 ✨ Frontend--Testing
  package.json
  src/app/app-routing.module.ts
  src/app/home/alphabet-category/alphabet-category.page.html
  src/app/home/alphabet-category/alphabet-category.page.scss
  src/app/progress/graph-modal/graph-modal.page.html
  src/app/progress/graph-modal/graph-modal.page.scss
  src/app/progress/graph-modal/graph-modal.page.ts
  src/app/progress/progress-block/progress-block.component.ts
  src/app/shared/components/options/options.component.spec.ts
  src/global.scss
  yarn.lock
Labels: enhancement, scope:frontend, fix

#224 💄 (Frontend object detection) improvements to user feedback when uploading
  .gitignore
  backend/api/app.py
  backend/database/database.py
  capacitor.config.ts
  src/app/app.module.ts
  src/app/home/home.module.ts
  src/app/home/home.page.html
  src/app/home/home.page.ts
  src/app/login/login.page.ts
  src/app/services/appService/app-service.service.ts
  src/app/services/objectDetection/object-detection.service.ts
  src/app/shared/interfaces/score.ts
  src/app/upload/upload.page.ts
  src/assets/upload/CHI.jpg
  src/assets/upload/FU.jpg
  src/assets/upload/HA.jpg
  src/assets/upload/HE.jpg
  src/assets/upload/HI.jpg
  src/assets/upload/HO.jpg
  src/assets/upload/KA.jpg
  src/assets/upload/KE.jpg
  src/assets/upload/KI.jpg
  src/assets/upload/KO.jpg
  src/assets/upload/KU.jpg
  src/assets/upload/MA.jpg
  src/assets/upload/ME.jpg
  src/assets/upload/MI.jpg
  src/assets/upload/MO.jpg
  src/assets/upload/MU.jpg
  src/assets/upload/N.jpg
  src/assets/upload/NA.jpg
  src/assets/upload/NE.jpg
  src/assets/upload/NI.jpg
  src/assets/upload/NO.jpg
  src/assets/upload/NU.jpg
  src/assets/upload/RA.jpg
  src/assets/upload/RE.jpg
  src/assets/upload/RI.jpg
  src/assets/upload/RO.jpg
  src/assets/upload/RU.jpg
  src/assets/upload/SA.jpg
  src/assets/upload/SE.jpg
  src/assets/upload/SHI.jpg
  src/assets/upload/SO.jpg
  src/assets/upload/SU.jpg
  src/assets/upload/TA.jpg
  src/assets/upload/TE.jpg
  src/assets/upload/TO.jpg
  src/assets/upload/TSU.jpg
  src/assets/upload/WA.jpg
  src/assets/upload/WO.jpg
  src/assets/upload/YA.jpg
  src/assets/upload/YO.jpg
  src/assets/upload/YU.jpg
Labels: scope:frontend, scope:ui, scope:object-detection

#225 Pulling from develop into Frontend---Testing
  .gitignore
  backend/api/app.py
  backend/database/database.py
  capacitor.config.ts
  src/app/app.module.ts
  src/app/home/home.module.ts
  src/app/home/home.page.html
  src/app/home/home.page.ts
  src/app/login/login.page.ts
  src/app/services/appService/app-service.service.ts
  src/app/services/objectDetection/object-detection.service.ts
  src/app/shared/interfaces/score.ts
  src/app/upload/upload.page.ts
  src/assets/upload/CHI.jpg
  src/assets/upload/FU.jpg
  src/assets/upload/HA.jpg
  src/assets/upload/HE.jpg
  src/assets/upload/HI.jpg
  src/assets/upload/HO.jpg
  src/assets/upload/KA.jpg
  src/assets/upload/KE.jpg
  src/assets/upload/KI.jpg
  src/assets/upload/KO.jpg
  src/assets/upload/KU.jpg
  src/assets/upload/MA.jpg
  src/assets/upload/ME.jpg
  src/assets/upload/MI.jpg
  src/assets/upload/MO.jpg
  src/assets/upload/MU.jpg
  src/assets/upload/N.jpg
  src/assets/upload/NA.jpg
  src/assets/upload/NE.jpg
  src/assets/upload/NI.jpg
  src/assets/upload/NO.jpg
  src/assets/upload/NU.jpg
  src/assets/upload/RA.jpg
  src/assets/upload/RE.jpg
  src/assets/upload/RI.jpg
  src/assets/upload/RO.jpg
  src/assets/upload/RU.jpg
  src/assets/upload/SA.jpg
  src/assets/upload/SE.jpg
  src/assets/upload/SHI.jpg
  src/assets/upload/SO.jpg
  src/assets/upload/SU.jpg
  src/assets/upload/TA.jpg
  src/assets/upload/TE.jpg
  src/assets/upload/TO.jpg
  src/assets/upload/TSU.jpg
  src/assets/upload/WA.jpg
  src/assets/upload/WO.jpg
  src/assets/upload/YA.jpg
  src/assets/upload/YO.jpg
  src/assets/upload/YU.jpg
Labels: scope:frontend, fix

#227 ✨ Frontend ---testing added delete option
  src/app/Interceptor/loader.interceptor.ts
  src/app/profile/profile-block/profile-block.component.ts
  src/app/services/appService/app-service.service.ts
  src/app/shared/components/logout/logout.component.html
  src/app/shared/components/logout/logout.component.scss
  src/app/shared/components/logout/logout.component.ts
  src/app/shared/components/logout/logout.module.ts
  src/app/shared/components/popover-settings/popover-settings.component.html
  src/app/shared/components/popover-settings/popover-settings.component.scss
  src/app/shared/components/popover-settings/popover-settings.component.spec.ts
  src/app/shared/components/popover-settings/popover-settings.component.ts
  src/app/shared/components/popover-settings/popover-settings.module.ts
Labels: enhancement, scope:frontend

#229 add super admin
  backend/api/app.py
  backend/database/database.py
  backend/services/image.py
Labels: enhancement, scope:backend, scope:database, layer:api

#228 👄 (Frontend object detection) fixed navigation through the app
  src/app/Interceptor/loader.interceptor.ts
  src/app/app-routing.module.ts
  src/app/app.component.ts
  src/app/dashboard/dashboard.module.ts
  src/app/dashboard/dashboard.page.html
  src/app/dashboard/dashboard.page.ts
  src/app/home/alphabet-category/alphabet-category.module.ts
  src/app/home/alphabet-category/alphabet-category.page.html
  src/app/home/alphabet-category/alphabet-category.page.ts
  src/app/home/home.page.html
  src/app/home/home.page.ts
  src/app/login/login.page.ts
  src/app/models/models.module.ts
  src/app/models/models.page.html
  src/app/models/models.page.ts
  src/app/profile/profile.module.ts
  src/app/profile/profile.page.html
  src/app/profile/profile.page.ts
  src/app/progress/progress-result/progress-result.module.ts
  src/app/progress/progress-result/progress-result.page.html
  src/app/progress/progress-result/progress-result.page.ts
  src/app/progress/progress.module.ts
  src/app/progress/progress.page.html
  src/app/progress/progress.page.ts
  src/app/services/appService/app-service.service.ts
  src/app/services/objectDetection/object-detection.service.ts
  src/app/shared/components/admin-nav-bar/admin-nav-bar.component.html
  src/app/shared/components/admin-nav-bar/admin-nav-bar.component.ts
  src/app/shared/components/admin-nav-bar/admin-nav-bar.module.ts
  src/app/shared/components/obd-modal/obd-modal.component.html
  src/app/shared/components/obd-modal/obd-modal.component.ts
  src/app/upload/upload.module.ts
  src/app/upload/upload.page.html
  src/app/upload/upload.page.scss
  src/app/upload/upload.page.ts
  src/environments/environment.ts
  src/global.scss
  yarn.lock
Labels: scope:frontend, scope:ui, scope:object-detection

#232 🔧 (frontend-Deployment-netlify) changes to upload data
  src/app/Interceptor/loader.interceptor.ts
  src/app/shared/interfaces/score.ts
  src/app/upload/upload.page.ts
Labels: scope:frontend, scope:object-detection

#234 ✅ (frontend-testing-phumu) unit tests for login
  src/app/login/login.page.spec.ts
Labels: scope:frontend

#233 ✨Frontend-- testing added unit tests
  src/app/dashboard/dashboard.page.spec.ts
  src/app/dashboard/dashboard.page.ts
  src/app/forgot-password-password/forgot-password-password.page.spec.ts
  src/app/home/alphabet-category/alphabet-category.page.spec.ts
  src/app/home/alphabet-category/alphabet-category.page.ts
  src/app/home/home.page.html
  src/app/home/home.page.spec.ts
  src/app/home/home.page.ts
  src/app/profile/privilege-modal/privilege-modal.page.ts
  src/app/profile/profile-block/profile-block.component.ts
  src/app/profile/profile.page.spec.ts
  src/app/profile/profile.page.ts
  src/app/progress/graph-modal/graph-modal.page.spec.ts
  src/app/progress/progress-block/progress-block.component.spec.ts
  src/app/progress/progress-result/progress-result.page.spec.ts
  src/app/progress/progress-result/progress-result.page.ts
  src/app/progress/progress.page.spec.ts
  src/app/progress/progress.page.ts
  src/app/services/appService/app-service.service.spec.ts
  src/app/shared/components/logout/logout.component.spec.ts
Labels: scope:frontend

#235 Csrf in other services
  backend/api/app.py
  backend/services/detect/detect.py
  backend/services/hiragana/hiragana.py
  backend/services/image/image.py
  backend/services/imageDB/imageDB.py
  backend/services/kanji/kanji.py
  backend/services/katakana/katakana.py
  backend/services/send_email/send_email.py
  backend/test/unit/a.jpg
  backend/test/unit/error.png
  backend/test/unit/kanji.png
  backend/test/unit/test_ai.py
  backend/test/unit/test_send_email.py
  backend/test/unit/u.png
  backend/test/unittest/__pycache__/test_register.cpython-39-pytest-7.1.2.pyc
  backend/test/unittest/__pycache__/test_uploadImage.cpython-39-pytest-7.1.2.pyc
  backend/test/unittest/test_uploadImage.py
  flaskr/MANIFEST.in
  flaskr/flaskr.egg-info/PKG-INFO
  flaskr/flaskr.egg-info/SOURCES.txt
  flaskr/flaskr.egg-info/dependency_links.txt
  flaskr/flaskr.egg-info/requires.txt
  flaskr/flaskr.egg-info/top_level.txt
  flaskr/flaskr/__init__.py
  flaskr/flaskr/db.py
  flaskr/flaskr/flaskr.py
  flaskr/flaskr/schema.sql
  flaskr/setup.py
  flaskr/tests/conftest.py
  flaskr/tests/data.sql
  flaskr/tests/test_authentication.py
  flaskr/tests/test_imageDB.py
  flaskr/tests/test_kanji.py
  yarn.lock
Labels: scope:backend, layer:api, layer:service, fix

#237 ✅ 🔧 (frontend-testing-phumu)Tests, admin endpoint, modifications in backend
  backend/services/authentication/authentication.py
  backend/services/detect/detect.py
  backend/services/hiragana/hiragana.py
  backend/services/image/image.py
  backend/services/imageDB/imageDB.py
  backend/services/kanji/kanji.py
  backend/services/katakana/katakana.py
  backend/services/send_email/send_email.py
  src/app/Interceptor/loader.interceptor.ts
  src/app/login/login.page.spec.ts
  src/app/models/models.page.spec.ts
  src/app/profile/profile.page.html
  src/app/profile/profile.page.spec.ts
  src/app/profile/profile.page.ts
  src/app/services/appService/app-service.service.ts
  src/app/shared/interfaces/averages.ts
  src/app/shared/interfaces/frequency.ts
  src/app/shared/interfaces/role.ts
  src/app/shared/interfaces/roleInfo.ts
  src/app/shared/interfaces/sign-up.ts
  src/app/sign-up/sign-up.page.ts
Labels: scope:backend, scope:frontend

#240 ✨ Frontend--testing fixed bugs and written tests
  src/app/app-routing.module.ts
  src/app/forgot-password-email/forgot-password-email.page.ts
  src/app/home/alphabet-category/alphabet-category.page.ts
  src/app/home/home.page.html
  src/app/profile/popover/popover.component.spec.ts
  src/app/profile/popover/popover.component.ts
  src/app/progress/progress.page.spec.ts
  src/app/services/appService/app-service.service.spec.ts
Labels: bug, scope:frontend, fix

#242 🐛 (backend-feature-evaluator) major fixes
  backend/api/Dockerfile
  backend/api/app.py
  backend/services/authentication/authentication.py
  backend/services/detect/detect.py
  backend/services/hiragana/Dockerfile
  backend/services/hiragana/a_strokes.h5
  backend/services/hiragana/hiragana.py
  backend/services/image/Dockerfile
  backend/services/image/image.py
  backend/services/imageDB/imageDB.py
  backend/services/kanji/Dockerfile
  backend/services/kanji/kanji.py
  backend/services/katakana/Dockerfile
  backend/services/katakana/katakana.py
  backend/services/send_email/send_email.py
Labels: scope:backend, layer:api, layer:service, scope:AI, fix, scope:object-detection, layer:object-detection

#245 (frontend-testing-phumu)changes
  src/app/Interceptor/loader.interceptor.ts
  src/app/login/login.page.ts
  src/app/services/appService/app-service.service.ts
  src/app/services/objectDetection/object-detection.service.ts
  src/app/shared/interfaces/score.ts
  src/app/upload/upload.page.ts
Labels: scope:frontend
