Repository COS301-SE-2022/Japanese-Writing-Evaluator, pull requests merged in 2022-08, with the labels that each got.

#181 🐛 (backend-feature-admin) quick login fix
  backend/api/authentication.py
Labels: bug, scope:backend, layer:api, fix

#182 💯 (Frontend feature testing) added interface for progress
  src/app/progress/progress.page.ts
  src/app/shared/interfaces/progress.ts
Labels: scope:frontend

#183 ✨ Graphic modifications update from develop
  README.md
  backend/api/authentication.py
  src/app/login/login.page.html
  src/app/login/login.page.scss
  src/app/progress/progress.page.ts
  src/app/shared/interfaces/progress.ts
Labels: enhancement, scope:frontend, fix

#184 👍 (Frontend-login-ui) Changes to login ui
  src/app/login/login.page.html
  src/app/login/login.page.scss
  src/app/progress/progress.page.ts
Labels: scope:frontend, scope:ui, fix

#188 ⚒️ (Frontend login UI) improved UI for login and upload
  src/app/login/login.page.scss
  src/app/services/app-service.service.spec.ts
  src/app/upload/upload.page.html
  src/app/upload/upload.page.scss
  src/app/upload/upload.page.spec.ts
  src/app/upload/upload.page.ts
Labels: scope:frontend, scope:ui, fix

#190 ✨(Backend-feature-add-admin-functions-view-models-and-edit-user) - Admin functions
  backend/api/admin.py
  backend/api/app.py
  backend/api/event_bus.py
  backend/database/database.py
Labels: scope:backend, layer:api, layer:service, layer:event bus

#192 💄 (Frontend login UI) changed Form design and password visibility
  src/app/forgot-password-email/forgot-password-email.page.html
  src/app/forgot-password-email/forgot-password-email.page.scss
  src/app/forgot-password-password/forgot-password-password.module.ts
  src/app/forgot-password-password/forgot-password-password.page.html
  src/app/forgot-password-password/forgot-password-password.page.scss
  src/app/login/login.module.ts
  src/app/login/login.page.html
  src/app/login/login.page.scss
  src/app/login/login.page.ts
  src/app/shared/components/password/password.component.html
  src/app/shared/components/password/password.component.scss
  src/app/shared/components/password/password.component.spec.ts
  src/app/shared/components/password/password.component.ts
  src/app/shared/components/password/password.module.ts
  src/app/sign-up/sign-up.module.ts
  src/app/sign-up/sign-up.page.html
  src/app/sign-up/sign-up.page.scss
  src/app/upload/upload.page.scss
  src/index.html
Labels: scope:frontend, scope:ui

#187 📝 (backens-eventbus) fix coding standards
  backend/api/app.py
  backend/api/authentication.py
  backend/api/event_bus.py
  backend/api/image.py
  backend/api/imageDB.py
  backend/email_user/send_email.py
Labels: documentation, scope:backend, fix, layer:event bus

#186 ✨ (backend-feature-admin-list-user-and-view-uploads) added listUsers
  backend/api/app.py
  backend/api/authentication.py
  backend/api/event_bus.py
  backend/database/database.py
Labels: enhancement, scope:backend, scope:database, layer:api, layer:service, layer:event bus

#196 ✨ (Frontend---graphImplementation) Added Admin
  .angular - Shortcut.lnk
  angular.json
  package.json
  src/app/app-routing.module.ts
  src/app/home/block-try-char/block-try-char.component.spec.ts
  src/app/home/home.module.ts
  src/app/home/home.page.html
  src/app/home/home.page.scss
  src/app/home/home.page.spec.ts
  src/app/home/home.page.ts
  src/app/progress/graph-modal/graph-modal-routing.module.ts
  src/app/progress/graph-modal/graph-modal.module.ts
  src/app/progress/graph-modal/graph-modal.page.html
  src/app/progress/graph-modal/graph-modal.page.scss
  src/app/progress/graph-modal/graph-modal.page.spec.ts
  src/app/progress/graph-modal/graph-modal.page.ts
  src/app/progress/progress-block/progress-block.component.html
  src/app/progress/progress-block/progress-block.component.scss
  src/app/progress/progress-block/progress-block.component.ts
  src/app/progress/progress-routing.module.ts
  src/app/progress/progress.module.ts
  src/app/progress/progress.page.html
  src/app/progress/progress.page.scss
  src/app/progress/progress.page.ts
  src/app/services/app-service.service.spec.ts
  src/app/services/app-service.service.ts
  src/app/shared/components/options/options.component.html
  src/app/shared/components/options/options.component.scss
  src/app/shared/components/options/options.component.spec.ts
  src/app/shared/components/options/options.component.ts
  src/app/shared/components/options/options.module.ts
  yarn.lock
Labels: enhancement, scope:frontend, scope:ui, fix

#201 Backend feature image preprossessing
  backend/ai/data/chi/training.py
  backend/ai/data/e/training.py
  backend/ai/data/fu/training.py
  backend/ai/data/ha/training.py
  backend/ai/data/wo/training.py
  backend/ai/data/ya/training.py
  backend/ai/data/yo/training.py
  backend/ai/data/yu/training.py
Labels: scope:backend, scope:AI

#200 ✨ (backend-feature-object-detection) introduce object detection
  backend/object_detection/detect.py
Labels: enhancement, scope:backend, scope:object-detection, layer:object-detection
