Repository COS301-SE-2022/Japanese-Writing-Evaluator, pull requests merged in 2022-06, with the labels that each got.

#89 ✅ frontend: added Writing Style and Back button
  .gitignore
  backend/api/__pycache__/authentication.cpython-39.pyc
  backend/api/__pycache__/image.cpython-39.pyc
  backend/api/app.py
  backend/api/authentication.py
  backend/api/image.py
  backend/requirements.txt
  src/app/app-routing.module.ts
  src/app/home/home.page.html
  src/app/home/home.page.scss
  src/app/home/home.page.spec.ts
  src/app/home/home.page.ts
  src/app/kanji/kanji.page.html
  src/app/kanji/kanji.page.scss
  src/app/kanji/kanji.page.spec.ts
  src/app/kanji/kanji.page.ts
  src/app/katakana/katakana.page.html
  src/app/katakana/katakana.page.scss
  src/app/katakana/katakana.page.spec.ts
  src/app/katakana/katakana.page.ts
  src/app/login/login.page.html
  src/app/login/login.page.scss
  src/app/login/login.page.ts
  src/app/services/app-service.service.ts
  src/app/shared/image.ts
  src/app/shared/score.ts
  src/app/upload/upload.page.html
  src/app/upload/upload.page.ts
  typings/cordova-typings.d.ts
Labels: scope:frontend

#80 ⚡️Backend feature get score
  backend/api/__pycache__/authentication.cpython-39.pyc
  backend/api/__pycache__/feedback.cpython-39.pyc
  backend/api/__pycache__/image.cpython-39.pyc
  backend/api/app.py
  backend/api/feedback.py
  backend/database/__pycache__/database.cpython-39.pyc
  backend/database/database.py
Labels: scope:backend, scope:database, layer:api, layer:service

#90 ✅ (Frontend-feature-uploadImage) fetching from develop
  .gitignore
  backend/api/__pycache__/authentication.cpython-39.pyc
  backend/api/__pycache__/feedback.cpython-39.pyc
  backend/api/__pycache__/image.cpython-39.pyc
  backend/api/app.py
  backend/api/authentication.py
  backend/api/feedback.py
  backend/api/image.py
  backend/database/__pycache__/database.cpython-39.pyc
  backend/database/database.py
  backend/requirements.txt
  src/app/app-routing.module.ts
  src/app/home/home.page.html
  src/app/home/home.page.scss
  src/app/home/home.page.spec.ts
  src/app/home/home.page.ts
  src/app/kanji/kanji.page.html
  src/app/kanji/kanji.page.scss
  src/app/kanji/kanji.page.spec.ts
  src/app/kanji/kanji.page.ts
  src/app/katakana/katakana.page.html
  src/app/katakana/katakana.page.scss
  src/app/katakana/katakana.page.spec.ts
  src/app/katakana/katakana.page.ts
  src/app/login/login.page.html
  src/app/login/login.page.scss
  src/app/login/login.page.ts
  src/app/services/app-service.service.ts
  src/app/shared/image.ts
  src/app/shared/score.ts
  src/app/upload/upload.page.html
  src/app/upload/upload.page.ts
  typings/cordova-typings.d.ts
Labels: scope:frontend, scope:ui

#87 ✨ (backend-feature-retrieveImages) add home route
  .gitignore
  backend/api/app.py
  backend/api/image.py
Labels: enhancement, scope:backend

#92 🔨 (Frontend feature upload image) Added reverted changes
  src/app/home/home.page.html
  src/app/home/home.page.spec.ts
  src/app/home/home.page.ts
  src/app/login/login.page.html
  src/app/login/login.page.ts
  src/app/services/app-service.service.ts
  src/app/shared/image.ts
  src/app/shared/score.ts
  src/app/upload/upload.page.ts
Labels: scope:frontend, scope:ui

#93 ✨ (backend-feature-retrieveImages) add progress route and functionality for viewImages function
  backend/api/app.py
  backend/api/image.py
  backend/database/database.py
  src/app/home/home.page.ts
  src/app/services/app-service.service.ts
  src/app/shared/image.ts
Labels: enhancement, scope:backend, scope:database, layer:api, layer:service

#94 Added fixes to home page
  backend/api/__pycache__/authentication.cpython-310.pyc
  backend/api/__pycache__/feedback.cpython-310.pyc
  backend/api/__pycache__/image.cpython-310.pyc
  backend/database/__pycache__/database.cpython-310.pyc
  src/app/home/home.page.html
  src/app/home/home.page.scss
  src/app/home/home.page.ts
  src/app/kanji/kanji.page.html
  src/app/kanji/kanji.page.scss
  src/app/kanji/kanji.page.ts
  src/app/katakana/katakana.page.html
  src/app/katakana/katakana.page.scss
  src/app/katakana/katakana.page.ts
  src/app/login/login.page.html
  src/app/login/login.page.ts
Labels: scope:frontend, scope:ui

#97 ✨Frontend(feature-dynamicHomePage) dynamic home page
  src/app/app-routing.module.ts
  src/app/home/block-try-char/block-try-char.component.html
  src/app/home/block-try-char/block-try-char.component.scss
  src/app/home/block-try-char/block-try-char.component.spec.ts
  src/app/home/block-try-char/block-try-char.component.ts
  src/app/home/home.module.ts
  src/app/home/home.page.html
  src/app/home/home.page.scss
  src/app/home/home.page.ts
  src/app/kanji/kanji-routing.module.ts
  src/app/kanji/kanji.module.ts
  src/app/kanji/kanji.page.html
  src/app/kanji/kanji.page.scss
  src/app/kanji/kanji.page.ts
  src/app/katakana/katakana-routing.module.ts
  src/app/katakana/katakana.module.ts
  src/app/katakana/katakana.page.html
  src/app/katakana/katakana.page.scss
  src/app/katakana/katakana.page.spec.ts
  src/app/katakana/katakana.page.ts
  src/app/progress/progress-block/progress-block.component.html
  src/app/progress/progress-block/progress-block.component.scss
  src/app/progress/progress-block/progress-block.component.ts
  src/app/progress/progress-routing.module.ts
  src/app/progress/progress.module.ts
  src/app/progress/progress.page.html
  src/app/progress/progress.page.scss
  src/app/progress/progress.page.spec.ts
  src/app/progress/progress.page.ts
Labels: scope:frontend

#96 ⚡️backend-feature-AI: Update createdataset.py
  backend/createdataset.py
Labels: scope:backend, scope:AI

#103 ✨ (create-send-emailfirebase) add functionality for send email
  backend/api/app.py
  backend/email/send_email.py
  backend/requirements.txt
Labels: enhancement, scope:backend

#101 ✨(Backend feature adapt backend for guest user) - added guest upload
  backend/api/app.py
  backend/api/image.py
  backend/requirements.txt
Labels: scope:backend, layer:api

#105 ✏️(ai compare strokes) - fixes a function
  backend/ai/cnn.py
Labels: scope:backend

#106 ✅ Frontend(feature-addTesting) tests for dropdown complete
  src/app/app.module.ts
  src/app/home/block-try-char/block-try-char.component.html
  src/app/home/block-try-char/block-try-char.component.spec.ts
  src/app/home/block-try-char/block-try-char.component.ts
  src/app/home/home.page.html
  src/app/home/home.page.scss
  src/app/home/home.page.spec.ts
  src/app/home/home.page.ts
  src/app/progress/progress.page.spec.ts
  src/app/progress/progress.page.ts
Labels: scope:frontend

#109 :✅ (Frontend feature upload image) Upload page and evaluation of image
  backend/api/__pycache__/image.cpython-310.pyc
  backend/database/__pycache__/database.cpython-310.pyc
  package.json
  src/app/home/block-try-char/block-try-char.component.html
  src/app/home/block-try-char/block-try-char.component.spec.ts
  src/app/home/block-try-char/block-try-char.component.ts
  src/app/home/home.page.html
  src/app/home/home.page.ts
  src/app/login/login.page.ts
  src/app/services/app-service.service.ts
  src/app/shared/image.ts
  src/app/shared/score.ts
  src/app/upload/upload.page.html
  src/app/upload/upload.page.scss
  src/app/upload/upload.page.spec.ts
  src/app/upload/upload.page.ts
  src/global.scss
Labels: scope:frontend, scope:ui

#108 🚸 (create-send-emailfirebase) improved email and added send email route
  backend/api/app.py
  backend/database/database.py
  backend/email/send_email.py
  backend/email_user/send_email.py
  backend/requirements.txt
  backend/sendEmail.py
Labels: enhancement, scope:backend, layer:api

#115 ✅(Frontend feature testing) added tests for guest user and upload page
  backend/api/__pycache__/image.cpython-310.pyc
  src/app/home/home.page.spec.ts
  src/app/login/login.page.spec.ts
  src/app/services/app-service.service.spec.ts
  src/app/upload/upload.page.ts
Labels: scope:frontend, scope:ui

#120 🧪(Frontend-feature-testing) Added integration tests for user and guest user
  cypress.json
  cypress/integration/api-intergration/guestUser.spec.js
  cypress/integration/api-intergration/userUpload.spec.js
Labels: scope:frontend, layer:api

#122 🐛 (backend-email-tests) added check for if email is a valid email
  backend/api/app.py
  backend/email/send_email.py
  backend/email_user/send_email.py
  backend/test/unittest/test_send_email.py
Labels: scope:backend

#123 ✅(Ai-unittest-and-intergration-test) Added test
  backend/ai/cnn.py
  backend/ai/modelA/keras_metadata.pb
  backend/ai/modelA/saved_model.pb
  backend/ai/modelA/variables/variables.data-00000-of-00001
  backend/ai/modelA/variables/variables.index
  backend/ai/modelU/keras_metadata.pb
  backend/ai/modelU/saved_model.pb
  backend/ai/modelU/variables/variables.data-00000-of-00001
  backend/ai/modelU/variables/variables.index
  backend/api/evalutor.py
  backend/test/unit/__init__.py
  backend/test/unit/a.jpg
  backend/test/unit/error.png
  backend/test/unit/test_ai.py
  backend/test/unit/u.png
  backend/test/unittest/test_register.py
  backend/test/unittest/uploadImage_test.py
  package.json
Labels: scope:backend

#114 ✨ (Frontend-feature-CypressSetUpAndTest) SetUp for Cypress
  cypress.json
  package.json
  src/app/progress/progress.page.spec.ts
  yarn.lock
Labels: scope:frontend

#125 🐛(fix-backend-bugs) fixed a few bugs
  backend/ai/cnn.py
  backend/api/app.py
  backend/api/image.py
  backend/database/database.py
Labels: bug, scope:backend

#132 Frontend feature fixes phumu
  backend/ai/createdataset.py
  src/app/forgot-password/forgot-password.page.html
  src/app/home/home.page.html
  src/app/login/login.page.ts
  src/app/progress/progress.page.scss
  src/app/sign-up/sign-up.page.html
  src/app/sign-up/sign-up.ts
  src/global.scss
  src/test.ts
Labels: scope:frontend
