Repository COS301-SE-2022/Japanese-Writing-Evaluator, pull requests merged in 2022-07, with the labels that each got.

#138 🐛 (backend-email-tests) Was scared to commit before demo
  backend/test/unit/test_send_email.py
  backend/test/unittest/test_send_email.py
Labels: scope:backend, fix

#139 ✨ (backend-eventbus) added event bus and functionality
  backend/api/app.py
  backend/api/event_bus.py
Labels: scope:backend, layer:event bus

#141 🚧 (backend-eventBus) edited function calls for routes and added functionality for event bus upload image
  backend/api/app.py
  backend/api/evalutor.py
  backend/api/event_bus.py
  backend/api/image.py
  backend/api/imageDB.py
Labels: scope:backend, layer:api, layer:service, layer:event bus

#144 🚧 (Frontend-progress-logic) Logic for progress,
  src/app/services/app-service.service.ts
Labels: scope:frontend

#142 ✅ Frontend-loading-image - homepage and progress responsive and logic updated
  .vscode/settings.json
  backend/api/__pycache__/authentication.cpython-39.pyc
  backend/api/__pycache__/evalutor.cpython-39.pyc
  backend/api/__pycache__/feedback.cpython-39.pyc
  backend/api/__pycache__/image.cpython-39.pyc
  backend/database/__pycache__/database.cpython-39.pyc
  backend/email_user/__pycache__/send_email.cpython-39.pyc
  src/app/app-routing.module.ts
  src/app/home/block-try-char/block-try-char.component.html
  src/app/home/block-try-char/block-try-char.component.scss
  src/app/home/block-try-char/block-try-char.component.ts
  src/app/home/home.page.html
  src/app/home/home.page.scss
  src/app/home/home.page.spec.ts
  src/app/home/home.page.ts
  src/app/progress/progress-block/progress-block.component.html
  src/app/progress/progress-block/progress-block.component.scss
  src/app/progress/progress-block/progress-block.component.spec.ts
  src/app/progress/progress-block/progress-block.component.ts
  src/app/progress/progress.page.html
  src/app/progress/progress.page.scss
  src/app/progress/progress.page.ts
  src/app/services/app-service.service.spec.ts
  src/app/services/app-service.service.ts
  src/app/shared/character_data/character_sets.json
  src/app/shared/interfaces/character.ts
  src/app/shared/interfaces/image.ts
  src/app/shared/interfaces/password-validator.module.ts
  src/app/shared/interfaces/score.ts
  src/app/shared/interfaces/user.ts
  src/app/upload/upload.page.ts
  src/index.html
  tsconfig.json
Labels: scope:frontend, fix

#145 Backend feature upload image
  .coverage
  backend/api/__pycache__/app.cpython-39.pyc
  backend/api/requirements.txt
  backend/test/unittest/__pycache__/test_register.cpython-39-pytest-7.1.2.pyc
  backend/test/unittest/__pycache__/test_uploadImage.cpython-39-pytest-7.1.2.pyc
  backend/test/unittest/test_uploadImage.py
  package.json
  yarn.lock
Labels: scope:backend, scope:frontend

#149 Frontend upload loading
  package.json
  src/app/Interceptor/loader.interceptor.ts
  src/app/app.module.ts
  src/app/home/home.page.ts
  src/app/login/login.page.html
  src/app/login/login.page.scss
  src/app/login/login.page.ts
  src/app/upload/upload.page.ts
  src/assets/images/errorgif.webp
  src/global.scss
  yarn.lock
Labels: scope:frontend, scope:ui

#148 🏗️ (backend-eventbus) fixed service call sequence for image upload
  backend/api/app.py
  backend/api/evalutor.py
  backend/api/event_bus.py
  backend/api/image.py
Labels: enhancement, scope:backend, scope:AI, layer:event bus

#147 🧱 (backend-feature-UploadImage) Changed database storage details for different services
  backend/database/database.py
Labels: scope:backend, scope:database

#153 ✨(Backend feature train model a) add models
  backend/ai/modelA.h5/keras_metadata.pb
  backend/ai/modelA.h5/saved_model.pb
  backend/ai/modelA.h5/variables/variables.data-00000-of-00001
  backend/ai/modelA.h5/variables/variables.index
  backend/ai/modelA/keras_metadata.pb
  backend/ai/modelA/saved_model.pb
  backend/ai/modelA/variables/variables.data-00000-of-00001
  backend/ai/modelA/variables/variables.index
  backend/ai/modelU.h5/keras_metadata.pb
  backend/ai/modelU.h5/saved_model.pb
  backend/ai/modelU.h5/variables/variables.data-00000-of-00001
  backend/ai/modelU.h5/variables/variables.index
  backend/ai/modelU/keras_metadata.pb
  backend/ai/modelU/saved_model.pb
  backend/ai/modelU/variables/variables.data-00000-of-00001
  backend/ai/modelU/variables/variables.index
  backend/ai/model_a.py
  backend/ai/model_u.py
  backend/api/evalutor.py
  backend/api/image.py
  src/app/services/app-service.service.ts
  src/app/upload/upload.page.ts
Labels: scope:backend, scope:AI

#155 :bug: (frontend-uploadIntegration-fixes) fixed upload integration and changed error image
  src/app/Interceptor/loader.interceptor.ts
  src/app/login/login.page.ts
  src/app/upload/upload.page.ts
  src/assets/icon/uploaderror.png
Labels: scope:frontend, scope:ui, fix

#156 ♻️(backend-feature-uploadImage) changed json response for progress and removed functions outside of evaluator class and added them to event bus
  backend/api/event_bus.py
  backend/api/image.py
Labels: enhancement, scope:backend, layer:api, layer:service, fix, layer:event bus

#157 :package: (Frontend-progress-logic) Progress data taken from backend
  src/app/Interceptor/loader.interceptor.ts
  src/app/home/home.page.ts
  src/app/progress/progress.page.spec.ts
  src/app/progress/progress.page.ts
  src/app/services/app-service.service.ts
  src/app/shared/interfaces/progress.ts
  src/app/shared/interfaces/user.ts
Labels: scope:frontend, layer:service

#158 ⚡️ (backend-feature-UploadImage) added writing style to returned json for progress and database storage of writing style
  backend/api/app.py
  backend/api/event_bus.py
  backend/api/image.py
  backend/api/imageDB.py
  backend/database/database.py
Labels: enhancement, scope:backend, scope:database, layer:api, layer:service, layer:event bus

#159 🚧 (backend-feature-UploadImage) changed routes and added new route
  backend/api/app.py
  backend/api/authentication.py
  backend/api/event_bus.py
  backend/database/database.py
  backend/email_user/send_email.py
Labels: scope:backend, scope:database, layer:api, layer:service, layer:event bus

#164 ✨ Frontend -Updated Progress
  src/app/progress/progress-block/progress-block.component.scss
  src/app/progress/progress.page.html
  src/app/progress/progress.page.scss
  src/app/progress/progress.page.ts
Labels: scope:frontend, fix

#160 ⚡️(Backend feature ai) added ai models
  .gitignore
  backend/ai/__pycache__/cnn.cpython-38.pyc
  backend/ai/a_strokes.h5
  backend/ai/characterRec.h5
  backend/ai/characterRecognition.py
  backend/ai/cnn.py
  backend/ai/data/create_all_dataset.py
  backend/ai/fu_strokes.h5
  backend/ai/ma_strokes.h5
  backend/ai/modelA.h5/keras_metadata.pb
  backend/ai/modelA.h5/saved_model.pb
  backend/ai/modelA.h5/variables/variables.data-00000-of-00001
  backend/ai/modelA.h5/variables/variables.index
  backend/ai/modelA/keras_metadata.pb
  backend/ai/modelA/saved_model.pb
  backend/ai/modelA/variables/variables.data-00000-of-00001
  backend/ai/modelA/variables/variables.index
  backend/ai/modelU.h5/keras_metadata.pb
  backend/ai/modelU.h5/saved_model.pb
  backend/ai/modelU.h5/variables/variables.data-00000-of-00001
  backend/ai/modelU.h5/variables/variables.index
  backend/ai/modelU/keras_metadata.pb
  backend/ai/modelU/saved_model.pb
  backend/ai/modelU/variables/variables.data-00000-of-00001
  backend/ai/modelU/variables/variables.index
  backend/ai/model_a.py
  backend/ai/model_u.py
  backend/ai/models/hiregana_model.h5
  backend/ai/models/kanji_model.h5
  backend/ai/models/modelA.h5
  backend/ai/models/modelU.h5
  backend/ai/models_data.json
  backend/api/__pycache__/authentication.cpython-39.pyc
  backend/api/__pycache__/evalutor.cpython-39.pyc
  backend/api/__pycache__/event_bus.cpython-39.pyc
  backend/api/__pycache__/image.cpython-39.pyc
  backend/api/__pycache__/imageDB.cpython-39.pyc
  backend/api/authentication.py
  backend/api/evalutor.py
  backend/database/__pycache__/database.cpython-39.pyc
  backend/email_user/__pycache__/send_email.cpython-39.pyc
Labels: scope:backend, scope:AI

#165 👍 (Frontend progress logic) progress logic + upload request body
  backend/api/requirements.txt
  package.json
  src/app/shared/interfaces/image.ts
  src/app/upload/upload.page.ts
Labels: scope:frontend, layer:service

#166 (Frontend forgot password) added forgot password logic
  backend/api/app.py
  src/app/Interceptor/loader.interceptor.ts
  src/app/forgot-password-email/forgot-password-email.module.ts
  src/app/forgot-password-email/forgot-password-email.page.html
  src/app/forgot-password-email/forgot-password-email.page.spec.ts
  src/app/forgot-password-email/forgot-password-email.page.ts
  src/app/forgot-password-password/forgot-password-password.module.ts
  src/app/forgot-password-password/forgot-password-password.page.html
  src/app/forgot-password-password/forgot-password-password.page.scss
  src/app/forgot-password-password/forgot-password-password.page.spec.ts
  src/app/forgot-password-password/forgot-password-password.page.ts
  src/app/login/login.page.html
  src/app/login/login.page.scss
  src/app/services/app-service.service.ts
  src/app/shared/interfaces/forgotpassword.ts
Labels: scope:frontend, layer:service

#167 👍 (Frontend integration fixes) added style to guest upload request body
  src/app/shared/interfaces/image.ts
  src/app/upload/upload.page.ts
Labels: scope:frontend, layer:service

#169 ⚡️(Backend-feature-evaluator) Updated Upload Image
  backend/ai/characterEvaluator.py
  backend/ai/models/mock_model.h5
  backend/api/app.py
  backend/api/authentication.py
  backend/api/evaluator.py
  backend/api/event_bus.py
  backend/api/image.py
  backend/test/unit/kanji.png
  backend/test/unit/test_ai.py
Labels: scope:backend, layer:service, scope:AI, layer:event bus

#168 ⚡️Backend feature password login
  backend/api/__pycache__/authentication.cpython-39.pyc
  backend/api/__pycache__/evalutor.cpython-39.pyc
  backend/api/__pycache__/event_bus.cpython-39.pyc
  backend/api/__pycache__/image.cpython-39.pyc
  backend/api/__pycache__/imageDB.cpython-39.pyc
  backend/api/app.py
  backend/api/authentication.py
  backend/api/event_bus.py
  backend/database/__pycache__/database.cpython-39.pyc
  backend/database/database.py
  backend/email_user/__pycache__/send_email.cpython-39.pyc
  capacitor.config.json
Labels: scope:backend, scope:database, layer:api, layer:service

#170 ⚡️Backend feature evaluator
  backend/ai/characterRec.h5
  backend/ai/models/a_strokes.h5
  backend/api/evaluator.py
  backend/api/event_bus.py
Labels: scope:backend, scope:AI

#172 🐛(Backend-Feature-evaluator) few fixes
  backend/api/evaluator.py
  backend/api/event_bus.py
Labels: scope:backend

#171 👍 (Frontend integration fixes) added stroke intergration
  backend/email_user/send_email.py
  src/app/Interceptor/loader.interceptor.ts
  src/app/forgot-password-email/forgot-password-email.page.spec.ts
  src/app/forgot-password-email/forgot-password-email.page.ts
  src/app/forgot-password-password/forgot-password-password.page.html
  src/app/forgot-password-password/forgot-password-password.page.ts
  src/app/home/alphabet-category/alphabet-category.page.spec.ts
  src/app/home/alphabet-category/alphabet-category.page.ts
  src/app/progress/progress-block/progress-block.component.spec.ts
  src/app/progress/progress.page.spec.ts
  src/app/services/app-service.service.spec.ts
  src/app/services/app-service.service.ts
  src/app/shared/interfaces/forgotpassword.ts
  src/app/shared/interfaces/score.ts
  src/app/upload/upload.page.ts
  src/assets/images/a_strokes/a.png
  src/assets/images/a_strokes/a_stroke1.png
  src/assets/images/a_strokes/a_stroke2.png
  src/assets/images/a_strokes/a_stroke3.png
Labels: scope:frontend, layer:service

#173 💯 (Frontend-login-interface) change forgot password link color
  src/app/login/login.page.html
  src/app/login/login.page.scss
Labels: scope:frontend, scope:ui
